<div class="content-heading">
  <div class="row w-100">
    <div class="col-12">
      <div class="row w-100 justify-content-center m-0" style="color: rgba(15, 14, 14, 0.87);">
        <h4 class="mb-0 mt-1">{{convertedDate | date : 'EEEE'}},</h4>
        <h4 class="ml-1 mb-0 mt-1">{{convertedDate | date : 'MMMM d'}},</h4>
        <h4 class="ml-1 mb-0 mt-1">{{convertedDate | date : 'y'}}</h4>
      </div>
    </div>
  </div>
</div>

<div class="card card-default">
  <div class="card-body">
    <div class="row w-100 justify-content-center mb-3">
      <button type="button" class="btn btn-success" (click)="goToPresentDay()">
        <!-- *ngIf="showButton" -->
        Current Day
      </button>
    </div>
    <!-- loader -->
    <div *ngIf="showLoader" class="loader-demo d-flex align-items-center justify-content-center time-loader">
      <div class="line-spin-fade-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="parent">
      <div>
        <button style="cursor: pointer;" type="button" class="fa fa-caret-left" (click)="getPreviousDate()"></button>
      </div>
      <div class="child">
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Open modal
        </button>

        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                  Open modal1
                </button>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>

        <div class="modal" id="myModal1">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                  Open modal2
                </button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
        <div class="modal" id="myModal2">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                  Open modal1
                </button>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div> -->
        <!-- <app-day-detail [showRecentDate]="convertedDate" [allTasksList]="taskList" (updateTaskList)="getTaskList()">
        </app-day-detail> -->

        <a data-toggle="modal" href="#myModal" class="btn btn-primary">Launch modal</a>

        <div class="modal" id="myModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="container"></div>
              <div class="modal-body">
                Content for the dialog / modal goes here.
                <a data-toggle="modal" href="#myModal2" class="btn btn-primary">Launch modal</a>
              </div>
              <div class="modal-footer">
                <a href="#myModal" data-dismiss="modal" class="btn">Close</a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" id="myModal2" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">2nd Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="container"></div>
              <div class="modal-body">
                Content for the dialog / modal goes here.
               
              </div>
              <div class="modal-footer">
                <a href="#myModal2" data-dismiss="modal" class="btn">Close</a>
                <a href="#myModal2" class="btn btn-primary">Save changes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button style="cursor: pointer;" type="button" class="fa fa-caret-right" (click)="getNextDate()"></button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showLoader" class="loader-background" [ngStyle]="{'height': divHeight}"></div>