<div class="content-heading">
  <div class="row w-100">
    <div class="col-12">
      <div class="row w-100 justify-content-center m-0" style="color: rgba(15, 14, 14, 0.87);">
        <h4 class="mb-0 mt-1">{{dueDate | date : 'EEEE'}},</h4>
        <h4 class="ml-1 mb-0 mt-1">{{dueDate | date : 'MMMM d'}},</h4>
        <h4 class="ml-1 mb-0 mt-1">{{dueDate | date : 'y'}}</h4>
      </div>
    </div>
  </div>
</div>

<div class="card card-default">
  <div class="card-body">
    <div class="row w-100 justify-content-center mb-3">
      <button type="button" class="btn btn-success" (click)="goToPresentDay()">
        Current Day
      </button>
    </div>
    <!-- loader -->
    <div *ngIf="showLoader" class="loader-demo d-flex align-items-center justify-content-center time-loader">
      <div class="line-spin-fade-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="parent">
      <div>
        <button style="cursor: pointer;" type="button" class="fa fa-caret-left" (click)="getPreviousDate()"></button>
      </div>
      <div class="child">
        <app-day-modal-content [userId]="userId" [userList]="userList" [dueDate]="dueDate" (getTask)="getTask($event)"
          (addNewTask)="addNewTask()" (getTotalEstimatedTime)="getTotalEstimatedTime($event)">
        </app-day-modal-content>
      </div>
      <div>
        <button style="cursor: pointer;" type="button" class="fa fa-caret-right" (click)="getNextDate()"></button>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="showLoader" class="loader-background" [ngStyle]="{'height': divHeight}"></div> -->

<app-move-to-completed-modal [task]="task" (updateTaskList)="getUpdatedTaskList($event)"
  [totalEstimatedTime]="totalEstimatedTime"></app-move-to-completed-modal>

<app-move-to-next-date-modal [task]="task" (updateTaskList)="getUpdatedTaskList($event)"
  [totalEstimatedTime]="totalEstimatedTime"></app-move-to-next-date-modal>

<ng-template #toolTipTimeTemplate>
  <p>Spent Time : {{orginalSpentTime | customDate }}</p>
  <p>Estimated Time : {{estimatedTime | customDate }}</p>
  <p>Total Time : {{480 | customDate}}</p>
</ng-template>

<ng-template #toolTipTaskTemplate>
  <p>Completed Tasks : {{completedTaskList.length}}</p>
  <p>In Progess Tasks : {{progressTaskList.length}}</p>
  <p>Planned Tasks : {{plannedTaskList.length}}</p>
</ng-template>

<app-task-modal [userId]="userId" [userList]="userList" [dueDate]="dueDate"
  (updateTaskList)="getUpdatedTaskList($event)" [task]="task" [totalEstimatedTime]="totalEstimatedTime">
</app-task-modal>