<div class="modal addCommentModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
    data-focus-on="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <h4 class="ml-2">Add Comment</h4>
                <button type="button" class="close" (click)="cancelComment()" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control" cols="73" rows="5"
                    [formControl]="commentForm.controls['comment']"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelComment()"
                    aria-label="Close">Cancel
                </button>
                <button id="saveComment" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"
                    (click)="addComment()">Save
                </button>
            </div>
        </div>
    </div>
</div>