textarea {
  height: 150px;
  width: 465px;
}
.rightAlign {
  text-align: center;
  width: 50px;
}
.fontStyle {
  font-size: 15px;
}
input {
  font-size: 15px;
}
.custom-select-lg {
  height: 32px !important;
  font-size: 15px !important;
}
i {
  font-size: 60px;
}
.date-error {
  position: relative;
  margin-left: 28%;
  margin-top: -2%;
}

.dropdown-menu.show {
  min-width: 7.7rem !important;
  width: 0 !important;
}

.form-check-inline {
  color: black;
}

.dropdown-top {
  top: -27px !important;
}
