.logo-wrapper {
    margin-top: 1px;
}
.logo-wrapper .logo {
  margin-top: 1px;
  width: 100%;
}
.logo-wrapper .logo img {
  margin-top: 0px;
  width: 70%;
  margin: 20% auto;
}
.form-wrapper {
  padding: 40px 10px;
}
.form-wrapper form {
  padding: 40px 80px;
  background: #fff;
  border: 0px solid #ccc;
  color: grey;
  box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  animation-name: fadein;
  animation-duration: 2s;
}
.form-wrapper button:hover {
  background-color: #EF7745;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3A3F51;
  color: white;
}
.table tr {
  text-align: left;
}
