.row {
  margin-right: 0px;
  margin-left: 0px;
}

.progress-bar {
  background-color: #27c24c !important;
}

p{
  margin: 0;
}

.holidayColor {
  background: lightgrey !important;
}

.currentDate{
  background: #c8f3cb;
}

.leaveApproved {
  color: #27c24c;
}

.leavePending {
  color: #ff902b;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}