<div *ngIf="(date | json) == '{}'" style="height: 160px; width: 100%;justify-content: flex-end; 
  margin-bottom: 1.5rem;">
</div>

<div *ngIf="(date | json) != '{}'" style="cursor: pointer;" class="card card-default" data-toggle="modal"
  [ngClass]="{'holidayColor': holiday,'currentDate':showCurrentDate}" data-target=".dayDetailModal"
  (click)="showDay(date)">
  <div style="height: 160px; width: 100%;">
    <div style="padding: 0 5% 0% 5%;">
      <div class="row" *ngIf="(date | json) != '{}'" style="text-align:center;">
        <div class="col-3 p-0" style="display: flex;">
          <div *ngIf="clientTime" class="sparkline inline" [sparkline]="sparkOptionsInfo"
            values="{{clientTime/60}},{{(orginalSpentTime - clientTime)/60}}">
          </div>
        </div>

        <div class="col p-0">
          {{date | date:longDate}}
        </div>
        <div class="col-3 p-0">
          <a *ngIf="holiday" href="#" [tooltip]="toolTipHolidayTemplate"
            style="text-decoration: none;color: #656565;float: right;">
            <em class="fa-lg far fa-calendar-minus float-right pt-1"></em>
          </a>
          <a *ngIf="showLeave && !holiday" href="#" [tooltip]="toolTipLeaveTemplate"
            style="text-decoration: none;color: #656565;float: right;">
            <em [ngClass]="{'leaveApproved':leaveStatus == 'approved','leavePending':leaveStatus == 'pending'}"
              class="fa-lg mr-2 fas fa-briefcase float-right pt-1">
            </em>
          </a>
        </div>
      </div>
      <div *ngIf="plannedTaskList || inProgressTaskList || completedTaskList"
        style="padding-top: 12%;text-align: center;">
        <a href="javascript:void(0);" [tooltip]="toolTipTaskTemplate" style="text-decoration: none;color: #656565;">
          <progressbar class="progress" [value]="newStacked"
            [max]="(plannedTaskList.length+inProgressTaskList.length+completedTaskList.length)">
          </progressbar>
          <span style="font-size: 10px;">Completed / Progress / Planned ({{completedTaskList.length}}
            / {{inProgressTaskList.length}} / {{(plannedTaskList.length)}})
          </span>
        </a>
        <a href="javascript:void(0);" [tooltip]="toolTipTimeTemplate" style="text-decoration: none;color: #656565;">
          <progressbar class="progress" [value]="stacked" [max]="480"></progressbar>
          <span style="font-size: 10px;">S: {{orginalSpentTime | customDate}}
            / E: {{estimatedTime | customDate}} / T: {{480 | customDate}}
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #toolTipTimeTemplate>
  <p>Spent Time : {{orginalSpentTime | customDate}}</p>
  <p>Estimated Time : {{estimatedTime | customDate}}</p>
  <p>Total Time : {{480 | customDate}}</p>
</ng-template>

<ng-template #toolTipTaskTemplate>
  <p>Completed Tasks : {{completedTaskList.length}}</p>
  <p>Progess Tasks : {{inProgressTaskList.length}}</p>
  <p>Planned Tasks : {{plannedTaskList.length}}</p>
</ng-template>

<ng-template #toolTipHolidayTemplate style="width:300px;">
  <p>Occasion : {{holiday.occasion | titlecase}}</p>
  <p>Type : {{holiday.holidayType | titlecase}}</p>
</ng-template>

<ng-template #toolTipLeaveTemplate style="width:300px;">
  <p>Leave status : {{leaveStatus | titlecase}}</p>
</ng-template>