<div class="content-heading">
  <div class="row w-100">
    <div class="col-6">
      Requested Leave Board
      <small>View and response for employee's leave request throughout the Organization.</small>
    </div>
    <!--Filter Dropdown-->
    <div class="col-6 float-right">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <mat-form-field class="w-50">
                <input matInput (keyup)="search($event.target.value)" placeholder="Search">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="btn-group mr-3 float-right" dropdown>
                <button class="btn btn-secondary" type="button" style="font-size: 15px;" dropdownToggle>
                  <em class="fa-2x mr-2 fas fa-filter" style="font-size: 15px;"></em>
                  Filter<b class="caret"></b>
                </button>
                <!--CheckBox-->
                <div *dropdownMenu class="dropdown-menu" role="menu">
                  <div class="form-check-inline">
                    <label class="checkbox c-checkbox">
                      <input type="checkbox" class="form-check-input" [checked]="allLeave"
                        (change)="all($event.target.checked)"><span class="fa fa-check"></span>All
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="checkbox c-checkbox">
                      <input type="checkbox" class="form-check-input" [checked]="pendingLeave"
                        (change)="pending($event.target.checked)" checked><span class="fa fa-check"></span>Pending
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="checkbox c-checkbox">
                      <input type="checkbox" class="form-check-input" [checked]="approvedLeave"
                        (change)="approve($event.target.checked)"><span class="fa fa-check"></span>Approved
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="checkbox c-checkbox">
                      <input type="checkbox" class="form-check-input" [checked]="rejectedLeave"
                        (change)="reject($event.target.checked)"><span class="fa fa-check"></span>Rejected
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="checkbox c-checkbox">
                      <input type="checkbox" class="form-check-input" [checked]="cancelledLeave"
                        (change)="cancel($event.target.checked)"><span class="fa fa-check"></span>Cancelled
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="checkbox c-checkbox">
                      <input type="checkbox" class="form-check-input" [checked]="addedLeave"
                        (change)="add($event.target.checked)"><span class="fa fa-check"></span>Added
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-default">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              <ng-container matColumnDef="employee">
                <th style="width: 25%;" mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
                <td mat-cell *matCellDef="let leaveRequest">
                  {{leaveRequest.User?.firstName}}{{leaveRequest.User?.lastName}} ({{leaveRequest.User?.email}})</td>
              </ng-container>
              <ng-container matColumnDef="fromDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
                <td mat-cell *matCellDef="let leaveRequest">{{leaveRequest?.fromDate | date:longDate}} </td>
              </ng-container>
              <ng-container matColumnDef="toDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
                <td mat-cell *matCellDef="let leaveRequest">{{leaveRequest?.toDate | date:longDate}}</td>
              </ng-container>
              <ng-container matColumnDef="noOfdays">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No Of Day(s)</th>
                <td mat-cell *matCellDef="let leaveRequest">
                  {{leaveRequest?.noOfdays | positiveValue}}
                </td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let leaveRequest"> {{leaveRequest?.type}} </td>
              </ng-container>
              <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
                <td mat-cell *matCellDef="let leaveRequest">
                  <ng-template #toolTipTemplate>
                    {{leaveRequest?.reason}}
                  </ng-template>
                  <a *ngIf="leaveRequest.reason" href="#" [tooltip]="toolTipTemplate">
                    {{leaveRequest?.reason | slice:0:20}}
                    <span *ngIf="leaveRequest?.reason.length > 20">...</span>
                  </a>
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let leaveRequest">
                  <span class="badge" [ngClass]="{
                    'badge-success': leaveRequest?.status=='approved',
                    'badge-warning':leaveRequest?.status=='pending', 
                    'badge-danger':leaveRequest?.status=='rejected',
                    'badge-secondary':leaveRequest?.status=='cancelled',
                    'badge-primary':leaveRequest?.status=='added' }">{{leaveRequest?.status}}
                  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Requested On</th>
                <td mat-cell *matCellDef="let leaveRequest">{{leaveRequest?.createdAt | date:longDate}} </td>
              </ng-container>
              <ng-container matColumnDef="choose_response">
                <th mat-header-cell *matHeaderCellDef>Choose Response</th>
                <td mat-cell *matCellDef="let leaveRequest">
                  <button [disabled]="leaveRequest.status != 'pending'" class="btn-success mr-1"
                    [ngClass]="{'btn':windowWidth >= 1227 ,'btn-sm':(windowWidth < 1227 && windowWidth >= 1116),'btn-xs':( windowWidth < 1116)}"
                    (click)=approvedSweetAlert(leaveRequest)>Approve
                  </button>
                  <button [disabled]="leaveRequest.status != 'pending'" class="btn-danger mr-1"
                    [ngClass]="{'btn':windowWidth >= 1227 ,'btn-sm':(windowWidth < 1227 && windowWidth >= 1116),'btn-xs':( windowWidth < 1116)}"
                    (click)=rejectedSweetAlert(leaveRequest)>Reject
                  </button>
                  <button class="btn-primary" data-toggle="modal" data-target=".remainingLeavesModal" (click)="onViewLeaveDetails(leaveRequest)"
                    [ngClass]="{'btn':windowWidth >= 1227 ,'btn-sm':(windowWidth < 1227 && windowWidth >= 1116),'btn-xs':( windowWidth < 1116)}">
                    View Details
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-view-leave-details (updatedLeave)="getUpdatedLeave($event)"></app-view-leave-details>
