.dropdown-menu.show {
  min-width: 7.7rem !important;
  width: 0 !important;
}

textarea {
  height: 150px;
  width: 465px;
}
tr {
  text-align: left;
}
input {
  font-size: 15px;
}
.form-check-inline{
  color: black;
}



