<div class="content-heading">
    <div class="col">
        Payslip Details
        <small>View and search for Payslip Details of Employees throughout the Organization.</small>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 p-0">
            <h5 class="mb-0" style="border: 1px solid black;  background: black; color: #f1d5a2;">Softobotics
                Technology Pvt
                Ltd.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0">
            <h5 class="mb-0" style="text-align: center; border: 1px solid;  background: #ffff;">Payslip For
                SEPTEMBER 2013.</h5>
        </div>
    </div>
    <div class="row">

        <div class="col-6 p-0 m-0">
            <table border="1" style="width: 100%;">
                <tr>
                    <td class="tablepadding">Personnel No.</td>
                    <td class="tablepaddingDefault">$100</td>
                </tr>
                <tr>
                    <td class="tablepadding">Bank</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
                <tr>
                    <td class="tablepadding">DOJ</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
                <tr>
                    <td class="tablepadding">PF No.</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
                <tr>
                    <td class="tablepadding">Location</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
                <tr>
                    <td class="tablepadding">Department</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
            </table>
        </div>
        <div class="col-6 p-0 m-0">
            <table border="1" style="width: 100%;">
                <tr>
                    <td class="tablepadding">Name</td>
                    <td class="tablepaddingDefault">$100</td>
                </tr>
                <tr>
                    <td class="tablepadding">Bank A/c No.</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
                <tr>
                    <td class="tablepadding">LOP Days</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
                <tr>
                    <td class="tablepadding">STD Days</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
                <tr>
                    <td class="tablepadding">Worked Days</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
                <tr>
                    <td class="tablepadding">Designation</td>
                    <td class="tablepaddingDefault">$80</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 p-0 m-0">
            <table style="width: 100%; border: 1px solid black;">
                <tr>
                    <th
                        style="text-align: center;width:70%; border-bottom: 1px solid; border-right: 1px solid; background: #98d498;">
                        Earnings</th>
                    <th style="width:30%; border-bottom: 1px solid; background: #98d498;  text-align: end;">Amount in Rs
                    </th>
                </tr>
                <tr>
                    <td>BASIC</td>
                    <td class="amountEarningsDeduction">Maria Anders</td>
                </tr>
                <tr>
                    <td>HOUSE RENT ALLOWANCE</td>
                    <td class="amountEarningsDeduction">Francisco Chang</td>
                </tr>
                <tr>
                    <td>SPECIAL ALLOWANCE</td>
                    <td class="amountEarningsDeduction">Roland Mendel</td>
                </tr>
                <tr>
                    <td>HOT SKILL BONUS</td>
                    <td class="amountEarningsDeduction">Roland Mendel</td>
                </tr>
                <tr>
                    <th style="width:70%; border-bottom: 1px solid; border-right: 1px solid; border-top: 1px solid;">
                        GROSS EARNING</th>
                    <th class="amountEarningsDeduction"
                        style="width:30%; border-bottom: 1px solid; border-top: 1px solid;">102,182.00</th>
                </tr>
                <tr>
                    <th style="width:70%; border-bottom: 1px solid; border-top: 1px solid;">
                    </th>
                    <th class="amountEarningsDeduction"
                        style="width:30%; border-bottom: 1px solid; border-top: 1px solid;">NET PAY</th>
                </tr>
            </table>
        </div>
        <div class="col-6 p-0 m-0">
            <table style="width: 100%; border: 1px solid black;">
                <tr>
                    <th
                        style="text-align: center; width:80%; border-bottom: 1px solid; border-right: 1px solid; background: #98d498;">
                        Deductions</th>
                    <th style="width:20%; border-bottom: 1px solid; background: #98d498;  text-align: end;">Amount in Rs
                    </th>
                </tr>
                <tr>
                    <td>HOT SKILL BONUS</td>
                    <td class="amountEarningsDeduction">Maria Anders</td>
                </tr>
                <tr>
                    <td>PROFESSIONAL TAX</td>
                    <td class="amountEarningsDeduction">Francisco</td>
                </tr>
                <tr>
                    <td>PROFESSIONAL TAX</td>
                    <td class="amountEarningsDeduction">Roland Mendel</td>
                </tr>
                <tr>
                    <td>INCOME TAX</td>
                    <td class="amountEarningsDeduction">23456</td>
                </tr>
                <tr>
                    <th style="width:70%; border-bottom: 1px solid; border-right: 1px solid; border-top: 1px solid;">
                        GROSS DEDUCTIONS</th>
                    <th style="width:30%; border-bottom: 1px solid; border-top: 1px solid;">9,405.00</th>
                </tr>
                <tr>
                    <th style="width:70%; border-bottom: 1px solid; border-top: 1px solid;">92,777.00
                    </th>
                    <th style="width:30%; border-bottom: 1px solid; border-top: 1px solid;"></th>
                </tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <h5 style="font-size: 18px; font-weight: 900;">
            ** This is a computer generated payslip and does not require signature and stamp.
        </h5>
    </div>
</div>