.criticalColor {
  color: #d9534f;
}
.highColor {
  color: #f0ad4e;
}
.normalColor {
  color: #5cb85c;
}

.lowColor {
  color: #5bc0de;
}

.move-btn {
  height: 40px;
}

.move-btn-pad {
  padding-left: 8px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 3px;
}

.move-btn-pad1 {
  padding-top: 6px;
}

.removeUnderLine {
  cursor: pointer !important;
}

.list-group-item {
  padding: 4px 6px 6px 4px !important;
  height: 50px;
}

.center {
  position: relative !important;
  top: 10px !important;
  font-size: 18px;
}

.menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: move;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;
}
