<div class="content-heading">
  <div class="row w-100">
    <div class="col-6">
      Holiday
      <small>Add and search for Holiday throughout the Organization.</small>
    </div>
    <div class="col-6 pr-0">
      <button type="button" class="btn btn-primary add-btn" data-toggle="modal" data-target=".AddHolidayModal"
        (click)="formReset()">Add Holiday
      </button>
    </div>
  </div>
</div>

<!--Material Table -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row mb-4">
            <div class="col-8">
              <mat-form-field class="w-50">
                <input matInput (keyup)="search($event.target.value)" placeholder="Search">
              </mat-form-field>
            </div>
          </div>
          <div class="card card-default">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
              <ng-container matColumnDef="holidayDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Holiday Date</th>
                <td mat-cell *matCellDef="let holiday">{{holiday.holidayDate | date: 'MM/dd/yyyy' }}</td>
              </ng-container>
              <ng-container matColumnDef="holidayType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Holiday Type</th>
                <td mat-cell *matCellDef="let holiday">{{holiday.holidayType }}</td>
              </ng-container>
              <ng-container matColumnDef="occasion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Occasion</th>
                <td mat-cell *matCellDef="let holiday">{{holiday.occasion}}</td>
              </ng-container>
              <ng-container matColumnDef="choose_response">
                <th mat-header-cell *matHeaderCellDef>Choose Response</th>
                <td mat-cell *matCellDef="let holiday">
                  <button type="button" class="mr-1 btn-primary"
                    [ngClass]="{'btn':windowWidth >= 1227 ,'btn-sm':(windowWidth < 1227 && windowWidth >= 1116),'btn-xs':( windowWidth < 1116)}"
                    (click)="editHoliday(holiday)" data-toggle="modal" data-target=".EditHolidayModal">
                    <em class="icon-pencil"></em>
                  </button>
                  <button type="button" class="mr-1 btn-danger"
                    [ngClass]="{'btn':windowWidth >= 1227 , 'btn-sm':(windowWidth < 1227 && windowWidth >= 1116),'btn-xs':( windowWidth < 1116)}"
                    (click)="deleteHolidaySwal(holiday)">
                    <em class="far fa-times-circle"></em>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Holiday Modal -->

  <div class="modal fade AddHolidayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header pb-0">
          <h4>Add Holiday Details :</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]=AddHolidayForm>
          <div class="modal-body">
            <div class="row pl-3 pr-3">
              <label><b>Holiday Date :</b></label>
              <input type="text" class="form-control" [formControl]="AddHolidayForm.controls['holidayDate']"
                #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue" name="dp-basic" [bsConfig]="bsConfig">
              <!-- <div class="alert alert-danger" *ngIf="AddHolidayForm.controls['holidaydate'].invalid &&
                AddHolidayForm.controls['holidaydate'].touched">
                <i>You must enter Holiday Date</i></div> -->
            </div>
            <div class="row mt-3 pl-3 pr-3 w-100">
              <label class="pt-1"><b>Holiday Type :</b></label>
            </div>
            <div class="row pl-3 pr-3 w-100">
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="Optional" [formControl]="AddHolidayForm.controls['holidayType']"
                  type="radio" name="inlineRadioOptions" value="optional" />
                <label class="form-check-label" for="Optional">Optional</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="Mandatory" [formControl]="AddHolidayForm.controls['holidayType']"
                  type="radio" name="inlineRadioOptions" value="mandatory" />
                <label class="form-check-label" for="Mandatory">Mandatory</label>
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="AddHolidayForm.controls['holidayType'].invalid &&
              AddHolidayForm.controls['holidayType'].touched">
              <i>You must enter Holiday Type.</i>
            </div>
            <div class="row mt-3 pl-3 pr-3">
              <label><b>Occasion :</b></label>
              <input type="text" class="form-control mb-1" [formControl]="AddHolidayForm.controls['occasion']">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"
              (click)="formReset()">Close
            </button>
            <button type="button" class="btn btn-primary" [disabled]="!AddHolidayForm.valid" data-dismiss="modal"
              aria-label="Close" (click)="createHoliday()">Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Holiday Modal -->

  <div class="modal fade EditHolidayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header pb-0">
          <h4>Add Holiday Details :</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]=EditHolidayForm>
          <div class="modal-body">
            <div class="row pl-3 pr-3">
              <label><b>Holiday Date :</b></label>
              <input type="text" class="form-control" [formControl]="EditHolidayForm.controls['holidayDate']"
                #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue" name="dp-basic" [bsConfig]="bsConfig">
              <div class="alert alert-danger" *ngIf="EditHolidayForm.controls['holidayDate'].invalid &&
                EditHolidayForm.controls['holidayDate'].touched">
                <i>You must enter Holiday Date</i>
              </div>
            </div>
            <div class="row mt-3 pl-3 pr-3 w-100">
              <label class="pt-1 mb-1"><b>Holiday Type :</b></label>
            </div>
            <div class="row pl-3 pr-3 w-100">
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="Optional" [formControl]="EditHolidayForm.controls['holidayType']"
                  type="radio" name="inlineRadioOptions" value="Optional" />
                <label class="form-check-label" for="Optional">Optional</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" id="Mandatory" [formControl]="EditHolidayForm.controls['holidayType']"
                  type="radio" name="inlineRadioOptions" value="Mandatory" />
                <label class="form-check-label" for="Mandatory">Mandatory</label>
              </div>
              <div class="alert alert-danger" *ngIf="EditHolidayForm.controls['holidayType'].invalid &&
                EditHolidayForm.controls['holidayType'].touched">
                <i>You must enter Holiday Type.</i>
              </div>
            </div>
            <div class="row mt-3 pl-3 pr-3">
              <label><b>Occasion :</b></label>
              <input type="text" class="form-control mb-1" [formControl]="EditHolidayForm.controls['occasion']">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"
              (click)="formReset()">Close
            </button>
            <button type="button" class="btn btn-primary" [disabled]="!EditHolidayForm.valid" data-dismiss="modal"
              aria-label="Close" (click)="saveHoliday()">Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>