<!-- Remaining Leaves Modal -->

<div class="modal fade remainingLeavesModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <h5 *ngIf="leaveRequest?.User?.firstName" class="modal-title mt-0">
          Leave Details of : {{leaveRequest?.User?.firstName}} {{leaveRequest?.User?.lastName}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <!-- START card 1-->
            <div class="card bg-warning border-0">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-3">
                    <i class="fas fa-calendar-check"></i>
                  </div>
                  <div class="col-9 text-right">
                    <div class="text-lg">
                      {{leaveData?.earned !== undefined ? leaveData?.earned : 0 | number: '1.2-2'}}
                    </div>
                    <p class="m-0">Earned Leaves</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <!-- START card 2-->
            <div class="card bg-danger border-0">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-3">
                    <i class="fas fa-briefcase-medical"></i>
                  </div>
                  <div class="col-9 text-right">
                    <div class="text-lg">
                      {{leaveData?.casual !== undefined ? leaveData?.casual : 0 | number: '1.2-2'}}
                    </div>
                    <p class="m-0">Casual Leaves</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <!-- START card 3-->
            <div class="card bg-info border-0">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-3">
                    <i class="fas fa-calendar-times"></i>
                  </div>
                  <div class="col-9 text-right">
                    <div class="text-lg">
                      {{leaveData?.optional !== undefined ? leaveData?.optional : 0 | number: '1.2-2'}}</div>
                    <p class="m-0">Optional Leaves</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <!-- START card 4-->
            <div class="card bg-primary border-0">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-3">
                    <i class="far fa-calendar-alt"></i>
                  </div>
                  <div class="col-9 text-right">
                    <div class="text-lg">
                      {{leaveData?.compoff !== undefined ? leaveData?.compoff : 0 | number: '1.2-2'}}
                    </div>
                    <p class="m-0">Comp Off</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <table class="table table-bordered table-striped dt-responsive nowrap">
            <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>No Of Days</th>
                <th>Type</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Request On</th>
              </tr>
            </thead>
            <tbody *ngIf="leaveRequest">
              <tr>
                <td >{{leaveRequest?.fromDate | date : "dd/MM/yyyy"}}</td>
                <td >{{leaveRequest?.toDate | date : "dd/MM/yyyy"}}</td>
                <td>{{leaveRequest?.noOfdays}}</td>
                <td>{{leaveRequest?.type}}</td>
                <td>{{leaveRequest?.reason}}</td>
                <td>{{leaveRequest?.status}}</td>
                <td >{{leaveRequest?.createdAt | date : "dd/MM/yyyy"}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning waves-effect" data-dismiss="modal">Cancel
        </button>
      </div>
    </div>
  </div>
</div>