<!-- Remaining Leaves Modal -->

<div class="modal fade remainingLeavesModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <h5 *ngIf="leaveRequest?.User?.firstName" class="modal-title mt-0">
          Leave Details of : {{leaveRequest?.User?.firstName}} {{leaveRequest?.User?.lastName}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-0">
        <div class="row pb-2 pt-2">
          <div class="col-3">
            <!-- START card 1-->
            <div class="card bg-warning border-0 mb-0">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-3">
                    <i class="fas fa-3x fa-calendar-check"></i>
                  </div>
                  <div class="col-9 text-right">
                    <div class="text-lg">
                      {{leaveData?.earned !== undefined ? leaveData?.earned : 0 | number: '1.2-2'}}
                    </div>
                    <p class="m-0">Earned Leaves</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <!-- START card 2-->
            <div class="card bg-danger border-0 mb-0">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-3">
                    <i class="fas fa-3x fa-briefcase-medical"></i>
                  </div>
                  <div class="col-9 text-right">
                    <div class="text-lg">
                      {{leaveData?.casual !== undefined ? leaveData?.casual : 0 | number: '1.2-2'}}
                    </div>
                    <p class="m-0">Casual Leaves</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <!-- START card 3-->
            <div class="card bg-info border-0 mb-0">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-3">
                    <i class="fas fa-3x fa-calendar-times"></i>
                  </div>
                  <div class="col-9 text-right">
                    <div class="text-lg">
                      {{leaveData?.optional !== undefined ? leaveData?.optional : 0 | number: '1.2-2'}}</div>
                    <p class="m-0">Optional Leaves</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <!-- START card 4-->
            <div class="card bg-primary border-0 mb-0">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-3">
                    <i class="far fa-3x fa-calendar-alt"></i>
                  </div>
                  <div class="col-9 text-right">
                    <div class="text-lg">
                      {{leaveData?.compoff !== undefined ? leaveData?.compoff : 0 | number: '1.2-2'}}
                    </div>
                    <p class="m-0">Comp Off</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <h5 class="mb-0">Selected leave details :</h5>
          <table class="table table-bordered table-striped dt-responsive nowrap mb-0">
            <tr>
              <th>From Date</th>
              <td>{{leaveRequest?.fromDate | date : "dd/MM/yyyy"}}</td>
            </tr>
            <tr>
              <th>To Date</th>
              <td>{{leaveRequest?.toDate | date : "dd/MM/yyyy"}}</td>
            </tr>
            <tr>
              <th>No Of Days</th>
              <td>{{leaveRequest?.noOfdays | positiveValue}}</td>
            </tr>
            <tr>
              <th>Leave Type</th>
              <td>{{leaveRequest?.type}}</td>
            </tr>
            <tr>
              <th>Leave Reason</th>
              <td *ngIf="leaveRequest?.reason != null" href="#" [tooltip]="reasonToolTip">
                {{leaveRequest?.reason | slice:0:40}}
                <span *ngIf="leaveRequest?.reason.length > 40">...</span>
              </td>
              <ng-template #reasonToolTip>
                {{leaveRequest?.reason}}
              </ng-template>
            </tr>
            <tr>
              <th>Leave Status</th>
              <td>{{leaveRequest?.status}}</td>
            </tr>
            <tr>
              <th>Request On</th>
              <td>{{leaveRequest?.createdAt | date : "dd/MM/yyyy"}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer" style="border-top: none !important;">
        <button [disabled]="leaveRequest?.status != 'pending'" class="btn btn-success mr-1" data-dismiss="modal" 
          (click)=approvedSweetAlert(leaveRequest)>Approve
        </button>
        <button [disabled]="leaveRequest?.status != 'pending'" class="btn btn-danger" data-dismiss="modal" 
          (click)=rejectedSweetAlert(leaveRequest)>Reject
        </button>
      </div>
    </div>
  </div>
</div>