
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.criticalColor {
  color: #d9534f;
}
.highColor {
  color: #f0ad4e;
}
.normalColor {
  color: #5cb85c;
}

.lowColor {
  color: #5bc0de;
}

.removeUnderLine {
  text-decoration: none;
}

.modal-width{
  max-width: 100%;
}