<!-- <div class="modal fade dayDetailModal pl-2 pr-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="delay"
  aria-hidden="true" style="position: relative;"> -->
<div [ngClass]="modalCenter == true ? 'modal-dialog modal-dialog-centered' : 'modal-dialog modal-width m-0 mb-3'"
  class="modal-lg">
  <div class="modal-content">
    <div class="modal-header pb-1">
      <div class="col-8">
        <h4 class="pt-2">{{_date | date:'fullDate'}}</h4>
      </div>
      <div class="float-right">
        <div class="row">
          <div>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" href=".dailyTaskModal"
              (click)="addTask()">
              Add Task
            </button>
          </div>
          <div class="pr-3 pt-1">
            <button *ngIf="modalCenter" type="button" class="close rightAlign float-right" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body pb-0">
      <div class="card mb-0" style="box-shadow: unset;">
        <div class="card-body pt-0 pb-2">
          <div class="row mt-2">
            <div class="card card-transparent w-100 mb-0">
              <tabset class="bg-white p-0" justified="true">
                <tab>
                  <ng-template tabHeading>
                    <em class="far fa-clock fa-fw"></em> Planned Tasks
                  </ng-template>
                  <div class="list-group mb-0" *ngFor="let task of plannedTaskList">
                    <div class="list-group-item">
                      <div class="btn-group float-right" dropdown>
                        <button class="btn btn-xs btn-success" type="button">Move to</button>
                        <button class="btn dropdown-toggle dropdown-toggle-split btn-xs btn-success" type="button"
                          dropdownToggle>
                          <span class="caret"></span>
                          <span class="sr-only">Secondary</span>
                        </button>
                        <div *dropdownMenu class="dropdown-menu" role="menu">
                          <a class="dropdown-item" href="#" (click)="updateStatus(task,'progress')">
                            In Progress Tasks
                          </a>
                          <a class="dropdown-item" href="#" data-toggle="modal" data-target=".newEstimateTimeModal"
                            (click)="updateStatus(task,'completed')">
                            Completed Tasks
                          </a>
                          <a class="dropdown-item" href="#" data-toggle="modal" data-target=".nextDateModal"
                            (click)=getSelectedTaskDeatils(task)>
                            Next Date
                          </a>
                        </div>
                      </div>
                      <a data-toggle="modal" href=".dailyTaskModal" (click)="editTask(task)">
                        <span *ngIf="task.clientTime != 0" class="badge badge-success float-right mr-1">C :
                          {{task.clientTime | customDate}}</span>
                        <span *ngIf="task.clientTime != 0" class="badge badge-warning float-right mr-1">S :
                          {{task.originalTime | customDate}}</span>
                        <span class="badge badge-info float-right mr-1">E : {{task.estimatedTime | customDate}}</span>
                        <em class="far fa-comment-dots float-right mr-2">&nbsp;({{task.comments.length}})</em>
                        <em *ngIf="task.clonned" class="fas fa-copy mr-2"></em>
                        <em class="far fa-clock fa-fw mr-2"></em>
                        <em *ngIf="task.priority == 'critical'" class="fas fa-angle-double-up criticalColor mr-2"></em>
                        <em *ngIf="task.priority == 'high'" class="fas fa-angle-up highColor mr-2"></em>
                        <em *ngIf="task.priority == 'normal'" class="fas fa-angle-right normalColor mr-2"></em>
                        <em *ngIf="task.priority == 'low'" class="fas fa-angle-down lowColor mr-2"></em>
                        <ng-template #toolTipTemplate>
                          {{ task.title }}
                        </ng-template>
                        <em [tooltip]="toolTipTemplate">
                          #&nbsp;{{ task.taskId }}&nbsp;: {{ task.title | slice:0:45 }}
                          <span *ngIf="task?.title.length > 45">...</span>
                        </em>
                      </a>
                    </div>
                  </div>
                </tab>
                <tab>
                  <ng-template tabHeading>
                    <em class="fas fa-hourglass-half"></em> In Progress Tasks
                  </ng-template>
                  <div class="list-group mb-0" *ngFor="let task of progressTaskList">
                    <div class="list-group-item">
                      <div class="btn-group float-right" dropdown>
                        <button class="btn btn-xs btn-success" type="button">Move to</button>
                        <button class="btn dropdown-toggle dropdown-toggle-split btn-xs btn-success" type="button"
                          dropdownToggle>
                          <span class="caret"></span>
                          <span class="sr-only">Secondary</span>
                        </button>
                        <div *dropdownMenu class="dropdown-menu" role="menu">
                          <a class="dropdown-item" href="#" data-toggle="modal" data-target=".newEstimateTimeModal"
                            (click)="updateStatus(task,'completed')">
                            Completed Tasks
                          </a>
                          <a class="dropdown-item" href="#" (click)="updateStatus(task,'planned')">
                            Planned Tasks
                          </a>
                          <a class="dropdown-item" href="#" data-toggle="modal" data-target=".nextDateModal"
                            (click)=getSelectedTaskDeatils(task)>
                            Next Date
                          </a>
                        </div>
                      </div>
                      <a data-toggle="modal" href=".dailyTaskModal" (click)="editTask(task)">
                        <span *ngIf="task.clientTime != 0" class="badge badge-success float-right mr-1">C :
                          {{task.clientTime | customDate}}</span>
                        <span *ngIf="task.clientTime != 0" class="badge badge-warning float-right mr-1">S :
                          {{task.originalTime | customDate}}</span>
                        <span class="badge badge-info float-right mr-1">E : {{task.estimatedTime | customDate}}</span>
                        <em class="far fa-comment-dots float-right mr-2">&nbsp;({{task.comments.length}})</em>
                        <em class="fas fa-hourglass-half mr-2"></em>
                        <em *ngIf="task.priority == 'critical'" class="fas fa-angle-double-up criticalColor mr-2"></em>
                        <em *ngIf="task.priority == 'high'" class="fas fa-angle-up highColor mr-2"></em>
                        <em *ngIf="task.priority == 'normal'" class="fas fa-angle-right normalColor mr-2"></em>
                        <em *ngIf="task.priority == 'low'" class="fas fa-angle-down lowColor mr-2"></em>
                        <ng-template #toolTipTemplate>
                          {{ task.title }}
                        </ng-template>
                        <em [tooltip]="toolTipTemplate">
                          #&nbsp;{{ task.taskId }}&nbsp;: {{ task.title | slice:0:45 }} ...
                        </em>
                      </a>
                    </div>
                  </div>
                </tab>
                <tab>
                  <ng-template tabHeading>
                    <em class="fas fa-check-circle normalColor"></em> Completed Tasks
                  </ng-template>
                  <div class="list-group mb-0" *ngFor="let task of completedTaskList">
                    <div class="list-group-item">
                      <div class="btn-group float-right" dropdown>
                        <button class="btn btn-xs btn-success" type="button">Move to</button>
                        <button class="btn dropdown-toggle dropdown-toggle-split btn-xs btn-success" type="button"
                          dropdownToggle>
                          <span class="caret"></span>
                          <span class="sr-only">Secondary</span>
                        </button>
                        <div *dropdownMenu class="dropdown-menu" role="menu">
                          <a class="dropdown-item" href="#" (click)="updateStatus(task,'progress')">
                            In Progress Tasks
                          </a>
                          <a class="dropdown-item" href="#" (click)="updateStatus(task,'planned')">
                            Planned Tasks
                          </a>
                        </div>
                      </div>
                      <a data-toggle="modal" href=".dailyTaskModal" (click)="editTask(task)">
                        <span class="badge badge-success float-right mr-1">C : {{task.clientTime | customDate}}</span>
                        <span class="badge badge-warning float-right mr-1">S :
                          {{task.originalTime | customDate}}</span>
                        <span class="badge badge-info float-right mr-1">E : {{task.estimatedTime | customDate}}</span>
                        <em class="far fa-comment-dots float-right mr-2">&nbsp;({{task.comments.length}})</em>
                        <em class="fas fa-check-circle normalColor mr-2"></em>
                        <em *ngIf="task.priority == 'critical'" class="fas fa-angle-double-up criticalColor mr-2"></em>
                        <em *ngIf="task.priority == 'high'" class="fas fa-angle-up highColor mr-2"></em>
                        <em *ngIf="task.priority == 'normal'" class="fas fa-angle-right normalColor mr-2"></em>
                        <em *ngIf="task.priority == 'low'" class="fas fa-angle-down lowColor mr-2"></em>
                        <ng-template #toolTipTemplate>
                          {{ task.title }}
                        </ng-template>
                        <em [tooltip]="toolTipTemplate">
                          #&nbsp;{{ task.taskId }}&nbsp;: {{ task.title | slice:0:45 }} ...
                        </em>
                      </a>
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-4">
        <a href="#" [tooltip]="toolTipTaskTemplate" style="text-decoration: none;color: #656565;">
          <progressbar class="progress" [value]="newStacked"
            [max]="(plannedTaskList.length+progressTaskList.length+completedTaskList.length)">
          </progressbar>
          <span style="font-size: 10px;margin-bottom:5px">Completed / Progress / Planned ({{completedTaskList.length}}
            / {{progressTaskList.length}} / {{(plannedTaskList.length)}})
          </span>
        </a>
      </div>
      <div class="col-5 pr-0 mr-0">
        <a href="#" [tooltip]="toolTipTimeTemplate" style="text-decoration: none;color: #656565;">
          <progressbar class="progress" [value]="stacked" [max]="480"></progressbar>
          <span style="font-size: 10px;margin-bottom:5px">Spent / Estimated / Total Time
            ({{orginalSpentTime | customDate}}
            / {{estimatedTime | customDate}} / {{480 | customDate}})</span>
        </a>
      </div>
      <div *ngIf="clientTime" class="col-3">
        <div class="sparkline inline float-right" [sparkline]="sparkOptionsInfo"
          values="{{clientTime/60}},{{(orginalSpentTime - clientTime)/60}}">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<div class="modal newEstimateTimeModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="myModalLabel" data-focus-on="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header pt-3 pb-1">
        <h4 class="ml-2">Enter Following Times</h4>
        <button type="button" class="close" (click)="exitModal()" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="showForm">
        <form>
          <div class="row">
            <div class="col-4 mt-2 ml-2">
              <label>Enter Original Time :</label>
            </div>
            <div class="col p-0">
              <div class="row">
                <tr>
                  <td class="form-group">
                    <input type="number" class="form-control text-center"
                      [formControl]="estimateTimeModalForm.controls['newOriginalHour']" placeholder="HH"
                      style="width: 70px;margin-left:3%;">
                  </td>
                  <td class="pl-2">
                    &nbsp; Hour(s) &nbsp;
                  </td>
                  <td class="pl-1">
                    <b> &nbsp; : &nbsp; </b>
                  </td>
                  <td class="form-group pl-2">
                    <input type="number" class="form-control text-center"
                      [formControl]="estimateTimeModalForm.controls['newOriginalMin']" placeholder="MM"
                      style="width: 70px;margin-left:1%;">
                  </td>
                  <td class="pl-2">
                    &nbsp; Minute(s) &nbsp;
                  </td>
                </tr>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 p-0"></div>
            <div class="col pr-0">
              <tr>
                <td class="form-group">
                  <div class="text-danger pl-4" *ngIf="estimateTimeModalForm.controls['newOriginalHour'].invalid &&
                      estimateTimeModalForm.controls['newOriginalHour'].touched">
                    <i>Invalid Original Hour(s).</i>
                  </div>
                </td>
              </tr>
            </div>
            <div class="col p-0 pl-1">
              <tr>
                <td class="form-group">
                  <div class="text-danger" *ngIf="estimateTimeModalForm.controls['newOriginalMin'].invalid &&
                      estimateTimeModalForm.controls['newOriginalMin'].touched ">
                    <i>Invalid Original Minute(s).</i>
                  </div>
                </td>
              </tr>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4 ml-2 mt-2">
              <label>Enter client Time :</label>
            </div>
            <div class="col p-0">
              <div class="row">
                <tr>
                  <td class="form-group">
                    <input type="number" class="form-control text-center"
                      [formControl]="estimateTimeModalForm.controls['newClientHour']" placeholder="HH"
                      style="width: 70px;margin-left: 3%;">
                  </td>
                  <td class="pl-2">
                    &nbsp; Hour(s) &nbsp;
                  </td>
                  <td class="pl-1">
                    <b> &nbsp; : &nbsp; </b>
                  </td>
                  <td class="form-group pl-2">
                    <input type="number" class="form-control text-center"
                      [formControl]="estimateTimeModalForm.controls['newClientMin']" placeholder="MM"
                      style="width: 70px;margin-left: 1%;">
                  </td>
                  <td class="pl-2">
                    &nbsp; Minute(s) &nbsp;
                  </td>
                </tr>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 p-0"></div>
            <div class="col pr-0">
              <tr>
                <td class="form-group">
                  <div class="text-danger pl-4" *ngIf="estimateTimeModalForm.controls['newClientHour'].invalid &&
                    estimateTimeModalForm.controls['newClientHour'].touched ">
                    <i>Invalid client Hour(s).</i>
                  </div>
                </td>
              </tr>
            </div>
            <div class="col p-0 pl-1">
              <tr>
                <td class="form-group">
                  <div class="text-danger" *ngIf="estimateTimeModalForm.controls['newClientMin'].invalid &&
                    estimateTimeModalForm.controls['newClientMin'].touched">
                    <i>Invalid client Minute(s).</i>
                  </div>
                </td>
              </tr>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" (click)="exitModal()">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Save"
          (click)="addNewEstimateTime()" [disabled]="estimateTimeModalForm.invalid">Save
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal nextDateModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false"
  aria-labelledby="myModalLabel" data-focus-on="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header pt-3 pb-1">
        <h4 class="ml-2">Enter Following Details :</h4>
        <button type="button" class="close" (click)="closeNextDateModal()" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body pr-0" *ngIf="showForm">
        <form>
          <div class="row">
            <div class="col-3 pr-0 pl-1" style="text-align: center;align-self: center;">
              <label style="margin-bottom: 0px;">
                <b>Choose Date :</b>
              </label>
            </div>
            <div class="col-3 pl-0 pr-0">
              <input *ngIf="nextDateValue" type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                placeholder="Choose Here..." [formControl]="nextDateModalForm.controls['newDate']" name="dp-basic"
                [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}" (bsValueChange)="getNewDate($event)">

              <input *ngIf="!nextDateValue" type="text" class="form-control"
                [formControl]="nextDateModalForm.controls['newNextDate']" (click)="getNewDate($event)"
                (keyup)="getNewDate($event)">
            </div>
            <div class="col-3 p-0 mt-1 pl-3">
              <a class="removeUnderLine" style="font-size: 16px;" href="#" (click)="moveToNextDate()">
                Select next date
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-3 p-0">

            </div>
            <div class="col p-0">
              <div class="text-danger" *ngIf="nextDateModalForm.controls['newDate'].invalid &&
                  nextDateModalForm.controls['newDate'].touched ">
                <i>Invalid Date.</i>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4 pl-0 mt-2" style="text-align: center;align-self: center;">
              <label style="margin-bottom: 0px;">
                <b>Estimated Time :</b>
              </label>
            </div>
            <div class="col p-0">
              <div class="row mt-2">
                <tr>
                  <td class="form-group">
                    <input type="number" class="form-control text-center"
                      [formControl]="nextDateModalForm.controls['newEstimatedHour']" placeholder="HH"
                      style="width: 70px;margin-left: 1%;">
                  </td>
                  <td class="pl-2">
                    &nbsp; Hour(s) &nbsp;
                  </td>
                  <td class="pl-3">
                    <b> &nbsp; : &nbsp; </b>
                  </td>
                  <td class="form-group pl-4">
                    <input type="number" class="form-control text-center"
                      [formControl]="nextDateModalForm.controls['newEstimatedMin']" placeholder="MM"
                      style="width: 70px;margin-left: 1%;">
                  </td>
                  <td class="pl-2">
                    &nbsp; Minute(s) &nbsp;
                  </td>
                </tr>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 p-0">

            </div>
            <div class="col pl-4 pr-0">
              <tr>
                <td class="form-group">
                  <div class="text-danger pl-1" *ngIf="nextDateModalForm.controls['newEstimatedHour'].invalid &&
                    nextDateModalForm.controls['newEstimatedHour'].touched">
                    <i>Invalid Estimated Hour(s).</i>
                  </div>
                </td>
              </tr>
            </div>
            <div class="col p-0">
              <tr>
                <td class="form-group">
                  <div class="text-danger" *ngIf="nextDateModalForm.controls['newEstimatedMin'].invalid &&
                    nextDateModalForm.controls['newEstimatedMin'].touched">
                    <i>Invalid Estimated Minute(s).</i>
                  </div>
                </td>
              </tr>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"
          (click)="closeNextDateModal()">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Save" (click)="addNewTask()"
          [disabled]="nextDateModalForm.invalid">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #toolTipTimeTemplate>
  <p>Spent Time : {{orginalSpentTime | customDate }}</p>
  <p>Estimated Time : {{estimatedTime | customDate }}</p>
  <p>Total Time : {{480 | customDate}}</p>
</ng-template>

<ng-template #toolTipTaskTemplate>
  <p>Completed Tasks : {{completedTaskList.length}}</p>
  <p>In Progess Tasks : {{progressTaskList.length}}</p>
  <p>Planned Tasks : {{plannedTaskList.length}}</p>
</ng-template>

<app-daily-task [showDate]="_date" [editTask]="taskValue" [editBtn]="edit" (showTask)="getupadtedTask()"
  [allTasksList]="taskList">
</app-daily-task>