<div class="content-heading">
  <div>Payslip
    <small></small>
  </div>
</div>

<!-- Material Table -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <mat-form-field class="w-50">
                <input matInput (keyup)="search($event.target.value)" placeholder="Search">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col">
                  <select class="form-control" [formControl]="addPayslipForm.controls['year']"
                    (change)="onSelectYear($event.target.value)">
                    <option value="">Choose Year</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                  </select>
                </div>
                <div class="col">
                  <select class="form-control" [formControl]="addPayslipForm.controls['month']"
                    (change)="onSelectMonth($event.target.value)">
                    <option value="">Choose Month</option>
                    <option value="Jan">January</option>
                    <option value="Feb">February</option>
                    <option value="Mar">March</option>
                    <option value="Apr">April</option>
                    <option value="May">May</option>
                    <option value="Jun">June</option>
                    <option value="Jul">July</option>
                    <option value="Aug">August</option>
                    <option value="Sep">September</option>
                    <option value="Oct">October</option>
                    <option value="Nov">November</option>
                    <option value="Dec">December</option>
                  </select>
                </div>
                <div class="col">
                  <button class="btn btn-primary" [disabled]="disableGoButton" (click)="getPaySlip()">
                    Show PaySlip
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-default">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.user?.firstName}}
                  {{paySlip?.user?.lastName}}</td>
              </ng-container>

              <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.year}}</td>
              </ng-container>

              <ng-container matColumnDef="month">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Month</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.month}}</td>
              </ng-container>

              <ng-container matColumnDef="basic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Basic Pay</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.basic}}</td>
              </ng-container>

              <ng-container matColumnDef="house_rent_allowance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>House Rent Allowance</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.house_rent_allowance}}</td>
              </ng-container>

              <ng-container matColumnDef="special_allowance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Special Allowance</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.special_allowance}}</td>
              </ng-container>

              <ng-container matColumnDef="hot_skill_bonus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hot Skill Bonus</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.hot_skill_bonus}}</td>
              </ng-container>

              <ng-container matColumnDef="provident_fund">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Provident Fund</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.provident_fund}}</td>
              </ng-container>

              <ng-container matColumnDef="professional_tax">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Professional Tax</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.professional_tax}}</td>
              </ng-container>

              <ng-container matColumnDef="income_tax">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>income Tax</th>
                <td mat-cell *matCellDef="let paySlip">{{paySlip?.income_tax}}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let paySlip">
                  <button title="Download" class="btn btn-primary float-right mr-3" (click)="downloadPaySlip(paySlip)">
                    Download
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>