.heading h2 {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}
.fa {
  background: transparent !important;
  border: transparent !important;
  font-size: 28px;
}

.col {
  padding: 0px;
}

.c-checkbox input[type="checkbox"]:checked + span,
.c-radio input[type="checkbox"]:checked + span {
  border-color: #5d9cec !important;
  background-color: #5d9cec !important;
}
.c-checkbox span,
.c-radio span {
  border: 1px solid #ccc !important;
  background: none !important;
  margin-right: 5px !important;
}

.weekoff {
  font-size: 1rem;
  font-weight: 400;
}

.line-spin-fade-loader div{
height: 25px !important;
}
.time-loader {
  position: absolute;
  top: 32%;
  left: 50%;
  z-index: 1;
  height: 0px !important;
}

.loader-background {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(110, 103, 103, 0.685);
  opacity: 0.5;
  position: absolute;
  top: 6.35%;
  right: 0%;
}
