label {margin-left:10px;font-size:16px;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3A3F51;
  color: white;
}
.table tr {
  text-align: left;
}

.alert-info {
   background-color: #f9fffb;
   color: #5E5E5E;
}

.cursor {cursor: pointer;}
.status { margin-left: 32%;}
