input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
.comment {
  background-color: #bfb8b84a;
  border: 1px solid darkgray;
  border-radius: 2px;
  padding: 7px;
}

.modalsize {
  max-width: 100% !important;
  margin-top: 25px;
  max-height: 650px;
}

.btn-copy {
  position: absolute;
  top: 1.7rem;
  right: -0.6rem;
  z-index: 10;
  display: block;
  padding: 0.25rem 0.5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
}
