<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header p-1">
      <div class="col">
        <h4>{{taskTitle}}</h4>
      </div>
      <div class="col">
        <h5 class="pt-1">Estimated Time Left: {{480 - totalEstimatedTime | customDate}}</h5>
      </div>
      <div class="col float-right">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelTask()">
          <span aria-hidden="true" style="font-size: 35px;">&times;</span>
        </button>
      </div>
    </div>
    <div class="modal-body p-0 mb-0">
      <div class="card p-2 m-0" style="box-shadow: 0 0px 1px rgba(0, 0, 0, 0.05)!important;">
        <div class="card-body pt-0">
          <form>
            <div class="row">
              <label class="mb-0 mt-2">Title</label>
            </div>
            <div class="row">
              <input type="text" class="form-control mb-1" [formControl]="taskForm.controls['title']">
              <div class="text-danger" *ngIf="taskForm.controls['title'].invalid &&
                  taskForm.controls['title'].touched">
                <i>You must enter the title.</i>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <label class="mb-0 mt-2">Priority</label>
                </div>
                <div class="row">
                  <select class="form-control mb-1" [formControl]="taskForm.controls['priority']">
                    <option value="normal">Normal</option>
                    <option value="critical">Critical</option>
                    <option value="high">High</option>
                    <option value="low">Low</option>
                  </select>
                </div>
                <div class="row">
                  <label class="mb-0 mt-2">Status</label>
                </div>
                <div class="row">
                  <select class="form-control mb-1" [formControl]="taskForm.controls['status']"
                    (change)="onStatusCompleted($event.target.value)">
                    <option value="planned">Planned</option>
                    <option value="progress">In Progress</option>
                    <option value="completed">Completed</option>
                  </select>
                </div>
                <div class="row">
                  <label class="mb-0 mt-2">Assignee</label>
                </div>
                <div class="row">
                  <select class="form-control mb-1" [formControl]="taskForm.controls['assignee']">
                    <option *ngFor="let user of userList" [value]="user.id">
                      {{user.firstName}} {{user.lastName}}
                    </option>
                  </select>
                </div>
                <div class="row">
                  <label class="mb-0 mt-2">Estimated Time</label>
                </div>
                <div class="row">
                  <tr>
                    <td class="form-group">
                      <input type="number" class="form-control text-center"
                        (keyup)="validateEstimateHour($event.target.value)"
                        [formControl]="taskForm.controls['estimatedHour']" placeholder="HH" style="width: 70px;">
                    </td>
                    <td class="pl-2">
                      &nbsp;Hour(s)&nbsp;
                    </td>
                    <td class="pl-2">
                      <b> &nbsp;&nbsp; : &nbsp;&nbsp; </b>
                    </td>
                    <td class="form-group pl-2">
                      <input type="number" class="form-control text-center"
                        (keyup)="validateEstimateMin($event.target.value)"
                        [formControl]="taskForm.controls['estimatedMin']" placeholder="MM" style="width: 70px;">
                    </td>
                    <td class="pl-2">
                      &nbsp;Minute(s)&nbsp;
                    </td>
                  </tr>
                </div>
                <div class="row">
                  <div class="col-5 p-0">
                    <div class="text-danger" *ngIf="taskForm.controls['estimatedHour'].invalid &&
                      taskForm.controls['estimatedHour'].touched ">
                      <i>Invalid estimated hour(s).</i>
                    </div>
                  </div>
                  <div class="col pl-2 pr-0">
                    <div class="text-danger" *ngIf="taskForm.controls['estimatedMin'].invalid &&
                      taskForm.controls['estimatedMin'].touched ">
                      <i>Invalid estimated minute(s).</i>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="mb-0 mt-2">Client Time</label>
                </div>
                <div class="row">
                  <tr>
                    <td class="form-group">
                      <input type="number" class="form-control text-center"
                        [formControl]="taskForm.controls['clientHour']" placeholder="HH" style="width: 70px;">
                    </td>
                    <td class="pl-2">
                      &nbsp;Hour(s)&nbsp;
                    </td>
                    <td class="pl-2">
                      <b>&nbsp;&nbsp; : &nbsp;&nbsp;</b>
                    </td>
                    <td class="form-group pl-2">
                      <input type="number" class="form-control text-center"
                        [formControl]="taskForm.controls['clientMin']" placeholder="MM" style="width: 70px;">
                    </td>
                    <td class="pl-2">
                      &nbsp;Minute(s)&nbsp;
                    </td>
                  </tr>
                </div>
                <div class="row">
                  <div class="col-5 p-0">
                    <div class="text-danger" *ngIf="taskForm.controls['clientHour'].invalid &&
                      taskForm.controls['clientHour'].touched ">
                      <i>Invalid client hour(s).</i>
                    </div>
                  </div>
                  <div class="col pl-2 pr-0">
                    <div class="text-danger" *ngIf="taskForm.controls['clientMin'].invalid &&
                        taskForm.controls['clientMin'].touched">
                      <i>Invalid client minute(s).</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 pl-5">
                <div class="row">
                  <label class="mb-0 mt-2">Description</label>
                </div>
                <div class="row">
                  <textarea class="form-control pb-0" rows="8"
                    [formControl]="taskForm.controls['description']"></textarea>
                  <div class="text-danger" *ngIf="taskForm.controls['description'].invalid &&
                      taskForm.controls['description'].touched ">
                    <i>Description should be less than 5000 characters.</i>
                  </div>
                </div>
                <div class="row">
                  <label class="mb-0 mt-2">Due Date</label>
                </div>
                <div class="row">
                  <input class="form-control mb-1" value="{{dueDate | date:'fullDate'}}" disabled
                    style="background: none;">
                </div>
                <div class="row">
                  <label class="mb-0 mt-2">Original Spent Time</label>
                </div>
                <div class="row">
                  <tr>
                    <td class="form-group">
                      <input type="number" class="form-control text-center"
                        [formControl]="taskForm.controls['originalHour']" placeholder="HH" style="width: 70px;">
                    </td>
                    <td class="pl-2">
                      &nbsp;Hour(s)&nbsp;
                    </td>
                    <td class="pl-2">
                      <b> &nbsp;&nbsp; : &nbsp;&nbsp;</b>
                    </td>
                    <td class="form-group pl-3">
                      <input type="number" class="form-control text-center"
                        [formControl]="taskForm.controls['originalMin']" placeholder="MM" style="width: 70px;">
                    </td>
                    <td class="pl-2">
                      &nbsp;Minute(s)&nbsp;
                    </td>
                  </tr>
                </div>
                <div class="row">
                  <div class="col p-0">
                    <div class="text-danger" *ngIf="taskForm.controls['originalHour'].invalid &&
                      taskForm.controls['originalHour'].touched ">
                      <i>Invalid original hour(s).</i>
                    </div>
                  </div>
                  <div class="col p-0">
                    <div class="text-danger" *ngIf="taskForm.controls['originalMin'].invalid &&
                      taskForm.controls['originalMin'].touched ">
                      <i>Invalid original minute(s).</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="showModalFooter" class="modal-footer ">
        <div class="row w-100 m-0">
          <div class="col-2 p-0">
            <button type="button" class="btn btn-success" *ngIf="showCommentButton" data-toggle="modal"
              href=".addCommentModal">
              Add Comment
            </button>
          </div>
          <div class="col-2 p-0">
            <button type="button" class="btn btn-danger" *ngIf="taskTitle != 'Add Task'" data-dismiss="modal"
              (click)="deleteTaskSwal()">Delete Task</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-warning float-right" data-dismiss="modal" id="cancel"
              (click)="cancelTask()">
              Cancel
            </button>
          </div>
          <div class="col-1 p-0">
            <button *ngIf="showTextButton" type="submit" class="btn btn-info float-right" data-dismiss="modal"
              [disabled]="taskForm.invalid" (click)="addTask()">{{buttonText}}
            </button>
            <button *ngIf="!showTextButton" type="button" class="btn btn-info float-right" (click)="enableTask()">
              Edit
            </button>
          </div>
        </div>
      </div>
      <hr class="mt-0 mb-2">
      <div class="row">
        <label class="mb-0 ml-3"><b>Comments ({{task?.comments?.length}})</b></label>
      </div>
      <div class="card-body comment mt-2" *ngFor="let comment of task?.comments">
        <div class="row">
          <div class="col text-dark">{{comment.comment}}</div>
        </div>
        <div class="row mt-2">
          <div class="col-4 text-dark">
            Added By : {{comment.createdBy.firstName}} {{comment.createdBy.lastName}}
          </div>
          <div class="col-7 text-dark">
            Added Date/Time : {{comment.createdAt | date:'short'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>