<div class="container">
  <div class="logo-wrapper">
    <div class="logo text-center">
      <img alt title="MngCmpny" src="../{{organization.logoUrl}}">
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
      <div class="form-wrapper registration-form col-md-6 col-md-offset-3">
          <form class="form-group">
              <fieldset class="step-1" >
                <legend>Create an Account</legend>

                <div role="alert" class="alert alert-beta">
                  <strong>RESTRICTED ACCESS</strong><br/>
                  <p>Softobotics is only open to existing Employee. If you were directed to this page, you should have been provided
                    with user login credentials. <br/><br/>
                    If you need to request access, please email support to activate your account.</p>
                </div>
              </fieldset>
          </form>
      </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <a style="padding-bottom:50px;" [routerLink]="['/']">Back to Login</a>
  </div>
</div>
