<div class="container">

  <div class="logo-wrapper">
    <div class="logo text-center">
      <img alt title="MngCmpny" src="../{{organization.logoUrl}}">
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
      <div class="form-wrapper loginform col-md-6 col-md-offset-3">

          <form *ngIf="!emailSent" [formGroup]="forgotPasswordForm" class="form-group">
              <!-- <legend>Login</legend> -->
              <fieldset>
                 <label for="email" class="input">Enter your email address and we will send you a link to reset your password.</label>
                  <input name="email" class="form-control email" type="email" placeholder=""
                         [formControl]="forgotPasswordForm.controls['email']">
                  <!-- <div class="alert alert-danger"
                       *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                        <i>Incorrect email!</i>                  
                  </div> -->
                  <div class="alert alert-danger"
                       *ngIf="emailNotFound">
                        <!-- <i>{{loginFailText}}</i> -->
                        <i>Email not registred. Please try again.</i>                   
                  </div><br>
                  <button [disabled]="!forgotPasswordForm.valid" class="btn btn-primary" (click)="sendEmail()">Submit</button>
                  <br>
                  <a [routerLink]="['/']">Back to Login Page</a>
              </fieldset>
          </form>

      </div>
  </div>

  <div class="row justify-content-center align-items-center">
  <div class="email-sent col-md-6 col-md-offset-3" *ngIf="emailSent">
     <label > Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</label>
     <br><br>
     <a [routerLink]="['/']">Back to Login Page</a>
  </div>
  </div>

</div>
