<div class="container">
  <div class="logo-wrapper">
    <div class="logo text-center">
      <img alt title="MngCmpny" src="../{{organization.logoUrl}}">
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="form-wrapper registration-form col-md-6 col-md-offset-3">
      <form [formGroup]="resetPasswordForm" class="form-group">

        <legend>Reset your Password</legend>
        <br>

        <label for="password" class="input">Password</label>
        <input name="password" class="form-control password" type="password" placeholder=""
          [formControl]="resetPasswordForm.controls['password']">
        <div class="alert alert-danger"
          *ngIf="resetPasswordForm.controls['password'].invalid && resetPasswordForm.controls['password'].touched">
            <i>That won't work. Try again. </i>                   
        </div><br>
        <label for="confirmPassword" class="input">Confirm Password</label>
        <input name="confirmPassword" class="form-control" type="password" placeholder=""
          [formControl]="resetPasswordForm.controls['confirmPassword']">
        <div class="alert alert-danger" *ngIf="resetPasswordForm.controls['confirmPassword'].invalid &&
                       resetPasswordForm.controls['confirmPassword'].touched &&
                       resetPasswordForm.controls['confirmPassword'].hasError('notSamePassword')">
            <i>That doesn't match...</i>                   
        </div><br>
        <button [disabled]="!resetPasswordForm.controls['password'].valid
                                      || !resetPasswordForm.controls['confirmPassword'].valid" class="btn btn-primary"
          (click)="resetPassword()">Save</button>
        <br><br>
      </form>
    </div>
  </div>
  <div *ngIf="isPasswordReseted" class="row justify-content-center align-items-center">
    <label>Your Password has been reseted successfully!</label>
  </div>
  <div class="row justify-content-center align-items-center">
    <a [routerLink]="['/']">Back to Login</a>
  </div>
</div>