<div class="content-heading">
    <div class="col-3">
        Backlog Tasks
    </div>
    <div class="col-5">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for Tasks with Id, Title, Description, Projects"
                [formControl]="searchFrom.controls['searchText']" />
            <span class="input-group-btn">
                <button class="btn btn-secondary search-btn" type="button" (click)="searchTask()"
                    [disabled]="searchFrom.invalid">
                    <em class="fa fa-search"></em>
                </button>
            </span>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-7 p-0">
                <div class="btn-group float-right" dropdown>
                    <button class="btn btn-secondary" type="button" dropdownToggle>
                        <em class="fa-2x mr-2 fas fa-filter" style="font-size: 15px;"></em>Filter
                        <b class="caret"></b>
                    </button>
                    <div *dropdownMenu class="dropdown-menu" role="menu">
                        <div class="form-check-inline">
                            <label class="checkbox c-checkbox">
                                <input type="checkbox" class="form-check-input"
                                    (change)="filterUser($event.target.checked,null)"><span
                                    class="fa fa-check"></span>Unsassigned
                            </label>
                        </div>
                        <div *ngFor="let user of userList" class="form-check-inline">
                            <label class="checkbox c-checkbox">
                                <input type="checkbox" class="form-check-input"
                                    (change)="filterUser($event.target.checked,user.id)"><span
                                    class="fa fa-check"></span>{{user.firstName}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-5 pl-0">
                <button type="button" class="btn btn-primary float-right" (click)="addTask()" data-toggle="modal"
                    data-target=".dailyTaskModal">Add Task
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="filterSearchedTask">
    <accordion [closeOthers]="true" class="w-100">
        <accordion-group panelClass="b0" [isOpen]="filterSearchedTask && filterSearchedTask.length > 1">
            <div accordion-heading>
                <small class="ml-3">
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span style="font-size: 17px;">Search Result Task</span>
            </div>
            <div class="row justify-content-center">
                <div class="row">
                    <p *ngIf="filterSearchedTask && filterSearchedTask.length == 0">No Tasks Found</p>
                </div>
                <div cdkDropList [cdkDropListData]="filterSearchedTask" class="menu-list"
                    (cdkDropListDropped)="reOrder($event)" *ngIf="filterSearchedTask && filterSearchedTask.length > 0">
                    <div class="menu-box" *ngFor="let task of filterSearchedTask" cdkDrag>
                        <a>
                            <em *ngIf="task.priority == 'critical'"
                                class="fas fa-angle-double-up criticalColor mr-2"></em>
                            <em *ngIf="task.priority == 'high'" class="fas fa-angle-up highColor mr-2"></em>
                            <em *ngIf="task.priority == 'normal'" class="fas fa-angle-right normalColor mr-2"></em>
                            <em *ngIf="task.priority == 'low'" class="fas fa-angle-down lowColor mr-2"></em>
                            <em *ngIf="task.isCloned" class="fas fa-copy mr-2"></em>
                            <a class="center" data-toggle="modal" href=".dailyTaskModal" (click)="editTask(task)">
                                TMS-{{ task?.taskId }}
                            </a>
                            <a class="center">
                                <ng-template #toolTipTemplate>
                                    {{ task?.title }}
                                </ng-template>
                                <span [tooltip]="toolTipTemplate">
                                    : &nbsp; {{ task?.title | slice:0:100 }}
                                    <span *ngIf="task?.title.length > 100">...</span>
                                </span>
                            </a>
                        </a>
                        <a class="addCursor center">
                            <button type="button" class="btn btn-success float-right" data-toggle="modal"
                                data-target=".nextDateModal" (click)="moveTask(task)">Move to</button>
                            <span class="moveTop">
                                <span *ngIf="task.user == null" class="badge badge-info float-right mr-1">
                                    Unsassigned
                                </span>
                                <span *ngIf="task.user != null" class="badge badge-success float-right mr-1">
                                    {{task.user.firstName}} {{task.user.lastName}}
                                </span>
                                <em class="far fa-comment-dots float-right mr-2">&nbsp;({{task?.comments.length}})</em>
                                <em *ngIf="task?.isDoubt == true" class="fas fa-flag float-right mr-2 flagAlign"></em>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>


<div class="row">
    <accordion [closeOthers]="true" class="w-100">
        <accordion-group panelClass="b0" [isOpen]="false" (click)="getPreviousTaskList()">
            <div accordion-heading>
                <small class="ml-3">
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span style="font-size: 17px;">Previous 7 Days Task</span>
            </div>
            <div class="row justify-content-center">
                <div class="row">
                    <p *ngIf="filterPreviousTask && filterPreviousTask.length == 0">No Tasks Found</p>
                </div>
                <div cdkDropList [cdkDropListData]="filterPreviousTask" class="menu-list"
                    (cdkDropListDropped)="reOrder($event)" *ngIf="filterPreviousTask && filterPreviousTask.length > 0">
                    <div class="menu-box" *ngFor="let task of filterPreviousTask" cdkDrag>
                        <a>
                            <em *ngIf="task.priority == 'critical'"
                                class="fas fa-angle-double-up criticalColor mr-2"></em>
                            <em *ngIf="task.priority == 'high'" class="fas fa-angle-up highColor mr-2"></em>
                            <em *ngIf="task.priority == 'normal'" class="fas fa-angle-right normalColor mr-2"></em>
                            <em *ngIf="task.priority == 'low'" class="fas fa-angle-down lowColor mr-2"></em>
                            <em *ngIf="task.isCloned" class="fas fa-copy mr-2"></em>
                            <a class="center" data-toggle="modal" href=".dailyTaskModal" (click)="editTask(task)">
                                TMS-{{ task?.taskId }}
                            </a>
                            <a class="center">
                                <ng-template #toolTipTemplate>
                                    {{ task?.title }}
                                </ng-template>
                                <span [tooltip]="toolTipTemplate">
                                    : &nbsp; {{ task?.title | slice:0:100 }}
                                    <span *ngIf="task?.title.length > 100">...</span>
                                </span>
                            </a>
                        </a>
                        <a class="addCursor center">
                            <button type="button" class="btn btn-success float-right" data-toggle="modal"
                                data-target=".nextDateModal" (click)="moveTask(task)">Move to</button>
                            <span class="moveTop">
                                <span *ngIf="task.user == null" class="badge badge-info float-right mr-1">
                                    Unsassigned
                                </span>
                                <span *ngIf="task.user != null" class="badge badge-success float-right mr-1">
                                    {{task.user.firstName}} {{task.user.lastName}}
                                </span>
                                <em class="far fa-comment-dots float-right mr-2">&nbsp;({{task?.comments.length}})</em>
                                <em *ngIf="task?.isDoubt == true" class="fas fa-flag float-right mr-2 flagAlign"></em>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>

<div class="row">
    <accordion [closeOthers]="true" class="w-100">
        <accordion-group panelClass="b0" [isOpen]="false" (click)="getUpcomingTaskList()">
            <div accordion-heading>
                <small class="ml-3">
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span style="font-size: 17px;">Upcoming Task</span>
            </div>
            <div class="row justify-content-center">
                <div class="row">
                    <p *ngIf="filterUpcomingTask && filterUpcomingTask.length == 0">No Tasks Found</p>
                </div>
                <div cdkDropList [cdkDropListData]="filterUpcomingTask" class="menu-list"
                    (cdkDropListDropped)="reOrder($event)" *ngIf="filterUpcomingTask && filterUpcomingTask.length > 0">
                    <div class="menu-box" *ngFor="let task of filterUpcomingTask" cdkDrag>
                        <a>
                            <em *ngIf="task.priority == 'critical'"
                                class="fas fa-angle-double-up criticalColor mr-2"></em>
                            <em *ngIf="task.priority == 'high'" class="fas fa-angle-up highColor mr-2"></em>
                            <em *ngIf="task.priority == 'normal'" class="fas fa-angle-right normalColor mr-2"></em>
                            <em *ngIf="task.priority == 'low'" class="fas fa-angle-down lowColor mr-2"></em>
                            <em *ngIf="task.isCloned" class="fas fa-copy mr-2"></em>
                            <a class="center" data-toggle="modal" href=".dailyTaskModal" (click)="editTask(task)">
                                TMS-{{ task?.taskId }}
                            </a>
                            <a class="center">
                                <ng-template #toolTipTemplate>
                                    {{ task?.title }}
                                </ng-template>
                                <span [tooltip]="toolTipTemplate">
                                    : &nbsp; {{ task?.title | slice:0:100 }}
                                    <span *ngIf="task?.title.length > 100">...</span>
                                </span>
                            </a>
                        </a>
                        <a class="addCursor center">
                            <button type="button" class="btn btn-success float-right" data-toggle="modal"
                                data-target=".nextDateModal" (click)="moveTask(task)">Move to</button>
                            <span class="moveTop">
                                <span *ngIf="task.user == null" class="badge badge-info float-right mr-1">
                                    Unsassigned
                                </span>
                                <span *ngIf="task.user != null" class="badge badge-success float-right mr-1">
                                    {{task.user.firstName}} {{task.user.lastName}}
                                </span>
                                <em class="far fa-comment-dots float-right mr-2">&nbsp;({{task?.comments.length}})</em>
                                <em *ngIf="task?.isDoubt == true" class="fas fa-flag float-right mr-2 flagAlign"></em>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>

<div class="row">
    <accordion [closeOthers]="true" class="w-100">
        <accordion-group panelClass="b0" [isOpen]="true">
            <div accordion-heading>
                <small class="ml-3">
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span style="font-size: 17px;">Backlog Task</span>
            </div>
            <div class="row justify-content-center">
                <div class="row">
                    <p *ngIf="filteredBacklogTask && filteredBacklogTask.length == 0">No Tasks Found</p>
                </div>
                <div cdkDropList [cdkDropListData]="filteredBacklogTask" class="menu-list"
                    (cdkDropListDropped)="reOrder($event)"
                    *ngIf="filteredBacklogTask && filteredBacklogTask.length > 0">
                    <div class="menu-box" *ngFor="let task of filteredBacklogTask" cdkDrag>
                        <a>
                            <em *ngIf="task.priority == 'critical'"
                                class="fas fa-angle-double-up criticalColor mr-2"></em>
                            <em *ngIf="task.priority == 'high'" class="fas fa-angle-up highColor mr-2"></em>
                            <em *ngIf="task.priority == 'normal'" class="fas fa-angle-right normalColor mr-2"></em>
                            <em *ngIf="task.priority == 'low'" class="fas fa-angle-down lowColor mr-2"></em>
                            <em *ngIf="task.isCloned" class="fas fa-copy mr-2"></em>
                            <a class="center" data-toggle="modal" href=".dailyTaskModal" (click)="editTask(task)">
                                TMS-{{ task?.taskId }}
                            </a>
                            <a class="center">
                                <ng-template #toolTipTemplate>
                                    {{ task?.title }}
                                </ng-template>
                                <span [tooltip]="toolTipTemplate">
                                    : &nbsp; {{ task?.title | slice:0:100 }}
                                    <span *ngIf="task?.title.length > 100">...</span>
                                </span>
                            </a>
                        </a>
                        <a class="addCursor center">
                            <button type="button" class="btn btn-success float-right" data-toggle="modal"
                                data-target=".nextDateModal" (click)="moveTask(task)">Move to</button>
                            <span class="moveTop">
                                <span *ngIf="task.user == null" class="badge badge-info float-right mr-1">
                                    Unsassigned
                                </span>
                                <span *ngIf="task.user != null" class="badge badge-success float-right mr-1">
                                    {{task.user.firstName}} {{task.user.lastName}}
                                </span>
                                <em class="far fa-comment-dots float-right mr-2">&nbsp;({{task?.comments.length}})</em>
                                <em *ngIf="task?.isDoubt == true" class="fas fa-flag float-right mr-2 flagAlign"></em>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>

<app-task-modal [userList]="userList" [validateTask]="taskPath" [task]="task" [dueDate]="dueDate"
    (updateTaskList)="getUpdatedTaskList()">
</app-task-modal>
<app-move-to-next-date-modal [task]="task" [validateTask]="taskPath" [dueDate]="dueDate" [userList]="userList"
    (updateTaskList)="getUpdatedTaskList()"></app-move-to-next-date-modal>