<div class="content-heading pt-1 pb-1">
  <div style="display: flex;flex-direction: row;align-items: center;width: 100%;justify-content: space-between;">
    <div *ngIf="logService.currentUser.roleId == 1">
      Time & Attendance
    </div>
    <div *ngIf="logService.currentUser.roleId == 2">
      <select class="form-control" (change)="selectedUserTask($event.target.value)">
        <option>Please Select an Employee</option>
        <option *ngFor="let user of userList" [value]="user.id">{{user.firstName}}
          <span class="mr-2">{{user.lastName}}</span>
        </option>
      </select>
    </div>

    <div class="details" style="display: flex;flex-direction: column;">
      <span class="text-danger">Total working days : &nbsp; {{ noofWorkingDays }}</span>
      <span class="text-danger">Total working hours : &nbsp; {{ ((noofWorkingDays * 8)*60) | customDate }}</span>
    </div>
    <div class="pr-5 pt-2">
      <div class="radial-bar radial-bar-60 radial-bar-sm bg-danger" data-label="60%"></div>
      <!-- <canvas baseChart [chartType]="'doughnut'" [options]="doughnutOptions" [datasets]="doughnutData.datasets"
        [colors]="doughnutColors" [labels]="doughnutData.labels" [legend]="false" height="80">
      </canvas> -->
    </div>
    <div class="details" style="display: flex;flex-direction: column;">
      <span class="text-warning">Total spent time : &nbsp; {{ totalSpentTime | customDate }}</span>
      <span class="text-success">Total client time : &nbsp; {{ totalClientTime | customDate }}</span>
    </div>
    <div style="display: flex;flex-direction: row-reverse;">
      <label class="checkbox c-checkbox weekoff mb-0">
        <input type="checkbox" checked (change)=showWeekoff($event.target.checked)>
        <span class="fa fa-check"></span>Exclude Week Off
      </label>
    </div>
  </div>
</div>

<div *ngIf="showLoader" class="loader-demo d-flex align-items-center justify-content-center time-loader">
  <div class="line-spin-fade-loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div style="display: flex;flex-direction: column;align-items: center;">
  <div>
    <h4 class="mb-2">
      <button style="cursor: pointer" type="button" class="fa fa-caret-left pt-2" (click)="getPreviousMonth()"></button>
      <span class="ml-1 mb-0 mt-1">{{firstDay}}</span>
      <span class="ml-1 mb-0 mt-1">{{presentdate | date : 'LLLL'}} - </span>
      <span class="ml-1 mb-0 mt-1">{{lastDay}}</span>
      <span class="ml-1 mb-0 mt-1">{{presentdate | date : 'LLLL'}}</span>
      <button style="cursor: pointer;" type="button" class="fa fa-caret-right pt-2" (click)="getNextMonth()"></button>
    </h4>
  </div>
  <div>
    <h3>{{presentdate | date : 'yyy'}}</h3>
  </div>
</div>

<br />
<div class="row heading">
  <div *ngIf="hideMonday" class="col">
    <div class="row justify-content-center">
      <h4>Monday</h4>
    </div>
    <div *ngFor="let day of mondayArray">
      <app-day-overview [date]="day" (openModalDate)="onGetModalDate($event)" [monthTasks]="taskList">
      </app-day-overview>
    </div>
  </div>
  <div *ngIf="hideTuesday" class="col">
    <div class="row justify-content-center">
      <h4>Tuesday</h4>
    </div>
    <div *ngFor="let day of tuesdayArray">
      <app-day-overview [date]="day" (openModalDate)="onGetModalDate($event)" [monthTasks]="taskList">
      </app-day-overview>
    </div>
  </div>
  <div *ngIf="hideWednesday" class="col">
    <div class="row justify-content-center">
      <h4>Wednesday</h4>
    </div>
    <div *ngFor="let day of wednesdayArray">
      <app-day-overview [date]="day" (openModalDate)="onGetModalDate($event)" [monthTasks]="taskList">
      </app-day-overview>
    </div>
  </div>
  <div *ngIf="hideThrusday" class="col">
    <div class="row justify-content-center">
      <h4>Thrusday</h4>
    </div>
    <div *ngFor="let day of thrusdayArray">
      <app-day-overview [date]="day" (openModalDate)="onGetModalDate($event)" [monthTasks]="taskList">
      </app-day-overview>
    </div>
  </div>
  <div *ngIf="hideFriday" class="col">
    <div class="row justify-content-center">
      <h4>Friday</h4>
    </div>
    <div *ngFor="let day of fridayArray">
      <app-day-overview [date]="day" (openModalDate)="onGetModalDate($event)" [monthTasks]="taskList">
      </app-day-overview>
    </div>
  </div>
  <div *ngIf="hideSaturday" class="col">
    <div class="row justify-content-center">
      <h4>Saturday</h4>
    </div>
    <div *ngFor="let day of saturdayArray">
      <app-day-overview [date]="day" (openModalDate)="onGetModalDate($event)" [monthTasks]="taskList">
      </app-day-overview>
    </div>
  </div>
  <div *ngIf="hideSunday" class="col">
    <div class="row justify-content-center">
      <h4>Sunday</h4>
    </div>
    <div *ngFor="let day of sundayArray">
      <app-day-overview [date]="day" (openModalDate)="onGetModalDate($event)" [monthTasks]="taskList">
      </app-day-overview>
    </div>
  </div>
</div>
<div *ngIf="showLoader" class="loader-background" [ngStyle]="{'height': divHeight}"></div>

<app-day-detail-modal [userId]="userId" [userList]="userList" [dueDate]="dueDate"
  (updateTaskList)="getUpdatedTaskList()">
</app-day-detail-modal>